* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Styling the input */

input {
  padding: 10px;
  margin: 10px;
  text-align: justify;
}
input:hover {
  background-color: orange;
}

nam {
  margin: 10px;
}
.fset {
  color: #d1f5d1;
  font-size: 40px;
}
body {
  height: 550px;
  background-image: url(../Images/Coolbg.png);
  background-attachment: fixed;
  background-size: cover;
}

/* Styling the button */

.btn {
  border-radius: 10px;
  font-size: 25px;
  color: white;
  background-color: #36ec6d;
}

/*Styling the footer  */
footer {
  text-align: center;
  height: 50px;
  padding: 20px;
}

/* Styling the link */
a:link {
  color: white;
  font-size: 25px;
}

a:visited {
  color: #daf745;
  font-size: 25px;
}

a:hover {
  color: #ec3c3c;
  font-size: 40px;
  box-shadow: 0 0 3px 4px white;
}

a:active {
  color: white;
  font-size: 25px;
  text-decoration: underline;
}
